.mainContainer {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.title {
    margin: 0px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
}

.subtitle {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.334;
    letter-spacing: 0em;
}